.alert.alert-success
  %strong Success!
  Indicates a successful or positive action.
.alert.alert-info
  %strong Info!
  Indicates a neutral informative change or action.
.alert.alert-warning
  %strong Warning!
  Indicates a warning that might need attention.
.alert.alert-danger
  %strong Danger!
  Indicates a dangerous or potentially negative action.
