.navbar.navbar-fixed-top.navbar-inverse
  .container
    .nav-header
      %a.nav-brand{href: "#"}LOGO
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href:"#"} Link1
        %li
          %a{href:"#"} Link2
