.container
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab",href:"#home"}
        Home
    %li
      %a{"data-toggle" => "tab",href:"#menu1"}
        Menu 1
    %li
      %a{"data-toggle" => "tab",href:"#menu2"}
        Menu 2
  .tab-content
    #home.tab-pane.active
      %h3 Home
      %p
        This section has info abt home.
    #menu1.tab-pane
      %h3 Menu 1
      %p
        This section has info abt Menu 1.
    #menu2.tab-pane
      %h3 Menu 2
      %p
        This section has info abt Menu 2.


